{% extends 'accounts/base.html' %}

{% block head %}
	<title>Reset Password CERA - Coastal Emergency Risks Assessment</title>
{% endblock head %}

{% block body %}
	<div class="headline">Reset Password</div>
	<div class="descr">Please enter your email address and we will send you a link to reset your password.</div>
	<form method="post">  
		<input type ="text" name=" " value="" style="display:none">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn_login" type="submit">Send</button>
	</form>
	<div class="cancel"><a href="{% url 'login' %}"><button class="btn_cancel">Cancel</button></a></div>
{% endblock body %}