{% extends 'accounts/base.html' %}

{% block head %}
	<title>Reset Password CERA - Coastal Emergency Risks Assessment</title>
{% endblock head %}

{% block body %}
	<div class="headline">Reset Password - Email Sent</div>
	<div class="txt">We've emailed you instructions for setting your password. You should receive them shortly.</br>
		If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</div>
	<form method="post">  
	<input type ="text" name=" " value="" style="display:none">
		{% csrf_token %}
		{{ form.as_p }}
	</form>
	<div class="cancel"><a href="{% url 'login' %}"><button class="btn_login">Go back to login</button></a></div>

{% endblock body %}