<div >
	<div id="linktoolsContent" class="FormInner">
		<a class="form_close buttons_sprite"></a>
        <div class="left1">Paste link in <b>email</b> or <b>Instant Messenger</b></div>
        <div class="shorten">
        	<input class="urlform" id="shorten-checkbox" type="checkbox"/>
            	<label for="shorten-checkbox">&nbsp;&nbsp;Short URL</label>
        </div>
        <input class="urlform" type="text" id="long-url" size=50 maxlength=600 readonly="yes">
        <input class="urlform" type="hidden" id="long-url-hidden">
        <a class="urlform displaynone" id="btnCopy">Copy</a>
        <span class="success_msg">Copied url to clipboard</span>
	</div>
</div>